<div id="<%= dom_id tenant %>">
  <p>
    <strong>First name:</strong>
    <%= tenant.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= tenant.last_name %>
  </p>

  <p>
    <strong>Apartment:</strong>
    <%= tenant.apartment %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tenant.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tenant.email %>
  </p>

</div>
